# For java
#export MONGO_HOST="localhost:27017"
#export MONGO_DB="literature"
#export MONGO_COLLECTION="quotes"
#export MONGO_USER="ywatanabe"
#export MONGO_PASSWORD="ywatanabe"
export PIPELINE_CLASS="app.pipelines.ElasticsearchIOSimpleWrite"
export LOG4J_LEVEL="INFO"
export ES_USER="elastic"
export ES_PASSWORD="UtqR3rgW8xfzIQQzwO4e"
