name: Java CI

on:
  push:
    branches-ignore:
      - main

# TODO checkstyle
# TODO cache
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0
      - uses: actions/setup-java@v5.0.0
        with:
          distribution: 'corretto'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 9.2.0
      - name: Execute Gradle test
        run: ./gradlew test
